{% extends "base.html" %}
{% block content %}
<h1>About Us</h1>
<strong>
	<h2>
		<b>
	<p>This website is developed by Aditya Chaudhary, student at National Institute of Technology Jalandhar.The goal of this mini-project is to provide a simple tabular view of the impact of Covid-19 in different region of India.
<br>
In the to-do Section there is a pdf (Source: Get Creative By Thought Project) which will help you in spending your Quarantine time in a quality manner please do download it.
<br>
The data is taken from http://mohfw.gov.in/.You can update the data by clicking on the update button (which runs a script in background to check any update on the http://mohfw.gov.in/).
</h2>
<h3>If you have any questions,suggestion,or feedback, you can Contact us.</h3></b>
</p>
</strong> 
{% endblock %}