{% extends "base.html" %}
{% block content %}
<div class="Contactyu">
<div>
	<h1 style="text-align: center; height:auto">
		<strong>CONTACT US
		</strong> 
	</h1>
</div>

<div class="flex-container">
	
	<div  class="flex-container2">
  		<div style="align-self:center" ><a href="https://www.linkedin.com/in/chaudharyaditya147/">
		<img src="../static/linkedin-logo.png" width="50" height="50" hspace="20">
		</a></div>

  		<div style="align-self:center">
		<a href="https://www.instagram.com/yesitischaudhary/" >
		<img src="../static/instagram-logo.png" width="50" height="50" hspace="20" >
		</a></div>
  		

  		<div style="align-self:center" >
		<a href="https://twitter.com/147chaudhary">
		<img src="../static/twitter-logo.png" width="50" height="50" hspace="20" >
		</a></div>
  		<div style="align-self:center">
			<a href="https://api.whatsapp.com/send?phone=+919717052126">
			<img src="../static/whatsapp-logo.png" width="50" height="50" hspace="20"  >
			</a>
			</div >
  			<div style="align-self:center" ><a href="https://t.me/iamddon">
			<img src="../static/telegram-logo.png"width="50" height="50" hspace="20"  >
			</a></div>
	</div>

</div>		
</div>
{% endblock %}