<div class="custom-footer">
    <div id="ember71" class="markdown-card ember-view">  <div class="footer-background">
    <div class="container-fluid">

        <div style="text-align: center;">
          
        <a href="https://www.facebook.com/NDMA.in" style="color: rgb(255, 255, 255);"><img src="https://www.esri.com/content/dam/esrisites/en-us/common/icons/social-media/pngs/square-idle/Facebook_60.png">
        </a>
        <span style="color: currentcolor;">&nbsp; &nbsp;</span>
        <a href="https://twitter.com/NDMAIndia" style="color: rgb(255, 255, 255);">
        <img src="https://www.esri.com/content/dam/esrisites/en-us/common/icons/social-media/pngs/square-idle/Twitter_60.png">
        </a>
        <span style="color: currentcolor;">&nbsp; &nbsp;</span>
        <a href="https://www.youtube.com/user/NDMAIndia" style="color: rgb(255, 255, 255);">
        <img src="https://www.esri.com/content/dam/esrisites/en-us/common/icons/social-media/pngs/square-idle/YouTube_60.png">
        </a>&nbsp;&nbsp;
      </div>
        <div style="text-align: center;"><br></div>
        <div style="text-align: center;"><br></div>
        <div style="text-align: center;">© 2020 NDMA<br></div>
    </div>
</div>

  <style>
    .footer-background {
      background-color: #111 !important;
      color: #fff;
      padding: 3rem 0;
    }

    .footer-background .nav a {
      background-color: transparent;
      color: #fff;
      -webkit-font-smoothing: antialiased;
    }

    .footer-background .nav a:focus,
    .footer-background .nav a:hover {
      background-color: transparent;
    }
  .mt-0 {
    margin-top: 0rem; }

  .mb-0 {
    margin-bottom: 0rem; }

  .mt-1 {
    margin-top: 0.5rem; }

  .mb-1 {
    margin-bottom: 0.5rem; }

  .mt-2 {
    margin-top: 1rem; }

  .mb-2 {
    margin-bottom: 1rem; }

  .mt-3 {
    margin-top: 1.5rem; }

  .mb-3 {
    margin-bottom: 1.5rem; }

  .mt-4 {
    margin-top: 2rem; }

  .mb-4 {
    margin-bottom: 2rem; }

  .mt-5 {
    margin-top: 2.5rem; }

  .mb-5 {
    margin-bottom: 2.5rem; }

  .mt-6 {
    margin-top: 3rem; }

  .mb-6 {
    margin-bottom: 3rem; }

  .mt-7 {
    margin-top: 3.5rem; }

  .mb-7 {
    margin-bottom: 3.5rem; }

  .mt-8 {
    margin-top: 4rem; }

  .mb-8 {
    margin-bottom: 4rem; }

  .mt-9 {
    margin-top: 4.5rem; }

  .mb-9 {
    margin-bottom: 4.5rem; }

  .mt-10 {
    margin-top: 5rem; }

  .mb-10 {
    margin-bottom: 5rem; }
  }
  .display-flex {
    display: flex;
  }
  .flex-middle {
    align-items: center;
  }
  </style>
</div>
  </div>