{% extends "base.html" %}
{% block content %}
<div class="flex-container">
	<div>
		<h1><strong>IMPACT OF COVID-19 IN DIFFERENT REGION IN INDIA</strong></h1>


<h1 style="text-align: center; color: darkblue">Total Active Cases <strong>{{totalcase[0].INDIANCASES}}</strong></h1>
<h5><a href="{{url_for('update')}}"><button class="button button2" style="align-items: center;">Click to Update</button></a></h5>
</table>
<table style="width:100%" class="print" >
  <tr>
    <th>NAME (States)</th>
    <th>Infected People (including foreigners)</th>
    
    <th>RECOVERIES</th>
    <th>DEATHS</th>
  </tr>
  {% for case in desccases %}
    <tr>
    	
        <td>{{case.NAMEOFSTATE}}</td>
        <td>{{case.INDIANCASES}}</td>
        <td>{{case.RECOVEREDCASES}}</td>
        <td>{{case.DEATHCASES}}</td>


        
    </tr>

  {% endfor %}

    
  {% for case in totalcase %}
    <tr class="sp">
    	<td><strong>Total Cases</strong></td>
    	
        <td>{{case.INDIANCASES}}</td>
        <td>{{case.RECOVEREDCASES}}</td>
        <td>{{case.DEATHCASES}}</td>


        
    </tr>

  {% endfor %}
</table>
<h5>SOURCE *http://mohfw.gov.in/</h5>
</div>
</div>
{% endblock %}